.container {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 30px;
}

h2 {
  color: #333;
}

.input-section {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.score-table {
  width: 50%;
  margin: 0 auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  font-size: 18px;
}

th {
  background-color: #007bff;
  color: white;
}

.score {
  font-size: 22px;
  font-weight: bold;
}

button {
  padding: 10px 15px;
  margin-top: 10px;
  font-size: 16px;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

start-btn{
  margin-bottom: 18px;
}
